<div class="contact-form">
  <h1>Contact me</h1>
  <br>
  <div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Message</mat-label>
      <textarea cdkTextareaAutosize
                rows="10"
                matInput></textarea>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary">Submit</button>
</div>

