<div class="component">
  <h1>SPARQL Query</h1>
  <p>Please enter your SPARQL Query below</p>

  <div>
    <mat-form-field appearance="fill" style="width: 30%">
      <mat-label>Sample Queries</mat-label>
      <mat-select [formControl]="queriesControl" [(value)]="selectedQuery" (selectionChange)="selectQueryFromDropdown()">
          <mat-option *ngFor="let queryData of queryList" [value]="queryData">{{queryData.question}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-button-toggle-group name="queryType" [(value)]="queryType">
      <mat-button-toggle value="select">SELECT</mat-button-toggle>
      <mat-button-toggle value="ask">ASK</mat-button-toggle>
      <mat-button-toggle value="describe">DESCRIBE</mat-button-toggle>
      <mat-button-toggle value="construct">CONSTRUCT</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <textarea
    [(ngModel)]="str"
    cols="80"
    rows="10"
    cdkTextareaAutosize
    cdkAutosizeMaxRows="20">
  </textarea>

  <div class="buttonRow">
    <button mat-raised-button color="primary" (click)="processQuery()">Run Query</button>
    <button mat-raised-button (click)="clear()">Clear</button>
    <button mat-raised-button [cdkCopyToClipboard]="str">Copy Query</button>
  </div>

  <div class="results" style="overflow-x:auto;">
    <p *ngIf="dataSource !=undefined">{{dataSource.length}} results found.</p>
    <table>
      <thead>
      <tr>
        <th *ngFor="let head of displayedColumns">{{head}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of dataSource">
        <td *ngFor="let element of row">{{element}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
