<div class="component">
  <h1>SPARQL Query</h1>
  <p>Please enter your SPARQL Query below</p>

  <p>Selected Dataset: {{this.dataset}}</p>
  <div *ngIf="this.dataset == 'Default'">
    <mat-form-field appearance="fill" style="width: 40%">
      <mat-label>Sample Queries</mat-label>
      <!--populate the queries from queries.json-->
      <mat-select [formControl]="queriesControl" [(value)]="selectedQuery" (selectionChange)="selectQueryFromDropdown()">
          <mat-option *ngFor="let queryData of queryList" [value]="queryData">{{queryData.question}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-button-toggle-group name="queryType" [(value)]="queryType">
      <mat-button-toggle value="select">SELECT</mat-button-toggle>
      <mat-button-toggle value="ask">ASK</mat-button-toggle>
      <mat-button-toggle value="describe">DESCRIBE</mat-button-toggle>
      <mat-button-toggle value="construct">CONSTRUCT</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <textarea
    [(ngModel)]="str"
    cols="80"
    rows="10"
    cdkTextareaAutosize
    cdkAutosizeMaxRows="40"
  (ngModelChange)="queriesControl.reset();">
  </textarea>

  <div class="buttonRow">
    <button mat-raised-button color="primary" (click)="processQuery()">Run Query</button>
    <button mat-raised-button (click)="clear()">Clear</button>
    <button mat-raised-button [cdkCopyToClipboard]="str">Copy Query</button>
  </div>

  <div class="results" *ngIf="queryType=='select'">
    <p *ngIf="dataSource != undefined">{{dataSource.length}} results found.</p>
    <table>
      <thead>
      <tr>
        <th *ngFor="let head of displayedColumns">{{head}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of dataSource">
        <td *ngFor="let element of row">{{element}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="results" *ngIf="queryType=='ask' && askQueryResponse != undefined">
    <p>The answer is: {{askQueryResponse}}.</p>
  </div>

  <!--todo: pretty-print XML-->
  <div class="results" *ngIf="queryType=='construct' && constructQueryResponse != undefined">
    <p>See response below:</p>
    <pre style="padding-left: 5%">{{constructQueryResponse | xml}}</pre>
  </div>

  <!--todo: pretty-print XML-->
  <div class="results" *ngIf="queryType=='describe' && describeQueryResponse != undefined">
    <p>See response below:</p>
    <pre style="padding-left: 5%">{{describeQueryResponse | xml}}</pre>
  </div>
</div>
